a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  cursor: pointer;
  opacity: 0.5;
}
a:hover {
  opacity: 1;
}
body {
  padding: 0 30px 0 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left .logo {
  margin: 12px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right h3 {
  margin: 12px;
}
